

.wrapper {
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 20px;
}

.content {
    background-color: #ffffff28;
    width: 100%;
}

#name {
    background-color: #4aaaa5;
    float: left;
    width: 250px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

#bar {
    float: right;
}

h2 {
    clear: both;
    overflow: auto;

}

